<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/grid.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Chamy pizzas</title>
  </head>
  <body>
    <header class="cabecalho">
      <div class="container">
        <a href="/index" class="grid-4">
          <img src="/images/marca.svg" alt="Chamy pizzas" />
        </a>
        <nav class="grid-12 cabecalho_menu">
          <ul>
            <li><a href="/cardapio">Cardápio</a></li>
            <!-- Links de cabeçalho -->
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/agendar">Agendar</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="introducao">
      <div class="container"><h1>Chamy pizzas</h1></div>
      <blockquote class="quote-externo">
          <p>Servimos bem para servir sempre</p>
        </blockquote>
      <a href="/contato" class="btn">Contato</a>
      </div>
    </section>
    <section class="produtos container">
      <h2 class="subtitulo">Nossos sabores</h2>
      <ul class="produtos_lista">
        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="/images/pizza-salgada.png" alt="Pizza salgada" />
          </div>
          <h3>Pizzas salgadas</h3>
          <p>Pizzas salgadas com os sabores favoritos do povo brasileiro</p>
        </li>
        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="/images/pizza-doce.png" alt="Pizza salgada" />
          </div>
          <h3>Pizzas doces</h3>
          <p>Pizzas doces uma ótima escolha para adoçar nossa vida</p>
        </li>
        <li class="grid-1-3">
          <div class="produtos_icone">
            <img src="/images/panqueca.png" alt="Pizza salgada" />
          </div>
          <h3>Panquecas</h3>
          <p>Panquecas ao molho, perfeitas para uma noite especial</p>
        </li>
      </ul>

      <div class="call">
        <p>Clique aqui e veja nosso cardápio</p>
        <a href="/cardapio" class="btn btn-preto">Cardápio</a>
      </div>
    </section>
    <!-- fecha produtos -->

    <section class="apizzaria">
      <div class="container">
        <h2 class="subtitulo">A Pizzaria</h2>
        <ul>
          <li class="grid-8">
            <img src="/images/chamy.png" alt="Entrada chamy" />
          </li>
          <li class="historia1 grid-4">
            O Chamy Pizza nasceu em 1990 acreditando que a pizza é algo especial
            e essencial, com mais de 30 anos fazendo pizzas, sabemos e
            entendemos como melhor atender nossos clientes.
          </li>
          <li class="historia2 grid-4">
            Fazemos pizzas que temos orgulho de oferecer. Queremos que cada
            refeição seja única e inigualável para os nossos clientes.
          </li>
        </ul>
        <div class="call">
          <p>Clique aqui e conheça nossa história</p>
          <a href="/sobre" class="btn btn-amarelo">Sobre</a>
        </div>
      </div>
    </section>
    <section class="qualidade container">
      <h2 class="subtitulo">Qualidade</h2>
      <img src="/images/Qualidade.svg" alt="Chamy Pizzas" />
      <ul class="qualidade_lista">
        <li class="grid-1-3">
          <h3>Sabor</h3>
          <p>
            Nós garantimos que nossas pizzas possuem o sabor autentico de
            verdadeiras pizzas, garantindo a melhor experiência e um dia mais
            feliz
          </p>
        </li>
        <li class="grid-1-3">
          <h3>Conforto</h3>
          <p>
            Prezamos sobretudo pelo conforto do cliente em nosso
            estabelecimento, servimos com carinho e amor, nossos garçons são
            perfeitamente treinados para garantir que tudo saia como o desejado
          </p>
        </li>
        <li class="grid-1-3">
          <h3>Higiene</h3>
          <p>
            Em todas as etapas, em todo o lugar, mantemos rigorosa higiene por
            parte dos funcionários e gerente, oferecendo uma refeição saudável.
          </p>
        </li>
      </ul>
      <div class="call">
        <p>Venha conhecer nossa pizzaria</p>
        <a href="/agendar" class="btn btn-preto">Agendar</a>
      </div>
    </section>
    <footer>
      <div class="footer">
        <div class="container">
          <div class="grid-8 footer_historia">
            <h3>Nossa história</h3>
            <p>
              "O verdadeiro segredo de fazer deliciosas pizzas está na paixão,
              carinho, dedicação e preparo, ingredientes que não pode faltar em
              uma pizzaria"
            </p>
          </div>
          <div class="grid-4 footer_contato">
            <h3>Contato</h3>
            <ul>
              <li>- 11 4715 3120</li>
              <li>- Alumínio - SP</li>
            </ul>
          </div>
          <div class="grid-4 footer_redes">
            <h3>Redes sociais</h3>
            <ul>
              <li>
                <a class="fb" href="https://facebook.com" target="_blank"
                  ><img src="/images/facebook.png" alt=""
                /></a>
              </li>
              <li>
                <a href="https://instagram.com" target="_blank"
                  ><img src="/images/instagram.png" alt=""
                /></a>
              </li>
              <li>
                <a href="https://whatsapp.com" target="_blank"
                  ><img src="/images/whatsapp.png" alt=""
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copy">
        <div class="container">
          <p class="grid-16">
            Chamy Pizzas 2020 - Alguns os direitos reservados
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
