<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% docs.forEach(function(Cliente){ %>
        <li>
            <%= Cliente.nome%>
        </li>
      <% })%>
    </ul>
  </body>
</html>
