.interna_sobre {
  background: url("/images/cardápio.png") no-repeat center;
  background-size: cover;
}
.subtitulo_interno_meio {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
  margin: 20px auto 0 auto;
}
.subtitulo_interno_meio:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000000;
  margin: 10px auto 30px auto;
}

.img{
  margin-bottom: 40px;
}